.textFieldShadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24),
              0 0 14px rgba(0, 0, 0, 0.24),
              0 21px 36px rgba(56, 56, 56, 0.12);
}

.textFieldShadow:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.24),
              0 17px 20px rgba(0, 0, 0, 0.24),
              0 21px 36px rgba(5, 5, 5, 0.12);
}

.textFieldShadow:focus {
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.24),
              0 0 14px rgba(0, 0, 0, 0.24),
              0 21px 90px rgba(0, 0, 0, 0.04);
}

.errorField {
  border-color: #aa5252;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24),
              0 0 14px rgba(0, 0, 0, 0.24),
              0 21px 36px rgba(255, 0, 4, 0.12);
}